{% extends 'customer/base.html' %}

{% block content %}

<style>
               body {
                  background-image: url(https://c1.wallpaperflare.com/preview/312/229/301/food-knife-background-wooden.jpg);
                  height: 100%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  
                }             
        </style>

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
        <h1 style="font-family:algerian">About Us</h1>
      </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
             <p><font size=4><b>This Website is created by four of us currently persuing our bachelor degree in Computer Engineering. As a part of our Study this Website is created using Python language</b></font></p>
             <p><font size=4><b>The purpose of this Website is to simply serve our beloved customers delicious Indian Food at their chosen venue at affordable price. We serve you with the best quality of ingredients ,cooked by our choicest Cooks ,with lots of our Love.</b></font></p>
             <p><font size=4><b>Do try our range of exotic dishes for a lovely appetite feast!</b></font></p>
             <br>
             <p><font size=5><b>For any Queries kindly Contact us @grps.indiecuisine@gmail.com</b></font></p>
        </div>
    </div>
</div>
{% endblock content %}